
        .container h1 {
            padding-top: 22px;
            text-align: center;
        }

        .custom-bg {
            background-color: darkslategrey;
        }

        .sidebar {
      height: 97vh;
      position: fixed;
      top: 0;
      left: 0;
      width: 220px;
      background-color: #151218;
      color: rgb(215, 51, 51);
      padding: 16px;
    }
    .main-content {
      margin-left: 210px;
      padding: 16px;
    }
    
    #alertbtn{
            display: none;
            padding-top: 16px;
            
        }
        .CustomColor{
            background-color: yellowgreen;
        }
    